/*definir un marge interieur et exterieur à zéro ajout du font à utiliser*/
*{
    padding: 0%;
    margin: 0% ;
    box-sizing: border-box;
    font-family:  'Arial Narrow', Arial, sans-serif;
}


/* styliser le navigateur*/
nav
{
    width: 100%;
    padding: 10px 0px;
    position: fixed;
    z-index: 12;
}

nav .menu
{
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu .logo a
{
    text-decoration: none;
    color: antiquewhite;
    font-size: 2rem;
    font-weight: 600;
}

.menu ul 
{
    display: inline-flex;

}

.menu ul li
{
    list-style: none;
    margin-left: 7px;
}

.menu ul li a
{
     text-decoration: none;
     color: black;
     font-size: 1.5rem;
     font-weight: bold; 
     padding: 8px  15px;
     border-radius: 5px;
     transition: all 0.3s ease;
}

.menu ul li a:hover
{
    background-color: rgba(255, 255, 255, 0.918) ;
    color: black;
}

/*le bloc image comprnds la totalit" de l'ecran et la hauteir de 100vh*/
.img
{
    background: url('../img/FIGMAGROUPE12.png') no-repeat;
    width: 100%;
    height: 100vh;
    background-position:center ; 
    background-size: 100% 100% ;
    position: relative;
}

/*le bloc centre va juste être supperposer sur l'image*/
.center
{
    position: absolute;
    top: 52%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    padding: 0 20px;
    text-align: center;

}

.center .title
{
    color: antiquewhite;
    font-size: 3rem;
    font-weight: 700;

}

.center .sub_title
{
    color: antiquewhite;
    font-size: 2rem;
    font-weight: lighter;
}

/*la partie reservation*/

.second_part
{
    background: url(../img/FIGMAGROUPE1.png);
    width: 100%;
    height: 100vh;
    padding-top: 8%;
    padding-left: 13%;
    background-position:center ; 
    background-size: 100% 100% ;
    
}

.second_part .bloc_second_part
{
    width: 85%;
    height: 70vh;
    background: #F8F0DE;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.second_part .bloc_second_part h2
{
    margin-top: -100px;
    text-align: center;
    font-size: 3rem;
    font-weight: lighter;
}

.second_part .bloc_second_part .contenue
{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
    justify-content: space-between;
}

.second_part .bloc_second_part .contenue button
{
    width: 150px;
    height: 40px;
    margin-top: 7%;
    margin-left: 40%;
    background: #F8F0DE;
    border: solid 1px black;
}

.second_part .bloc_second_part .contenue button a
{
    text-decoration: none;
    font-size: 1rem;
    color: black;
    font-weight: 600;
}























/*la partie reservation*/

.last_part
{
    background: url(../img/FIGMAGROUPE1.png);
    width: 100%;
    height: 100vh;
    padding-top: 8%;
    padding-left: 13%;
    background-position:center ; 
    background-size: 100% 100% ;
    
}

.last_part .bloc_last_part
{
    width: 85%;
    height: 70vh;
    background: #F8F0DE;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.last_part .bloc_last_part h2
{
    margin-top: -100px;
    text-align: center;
    font-size: 3rem;
    font-weight: lighter;
}

.last_part .bloc_last_part .contenue
{
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
}

.last_part .bloc_last_part .contenue p
{
    font-weight: 200;
}

.last_part .bloc_last_part .contenue button
{
    width: 150px;
    height: 40px;
    margin-right: 3%;
    background: #F8F0DE;
    border: solid 1px black;
}

.last_part .bloc_last_part .contenue button a
{
    text-decoration: none;
    font-size: 1rem;
    color: black;
    font-weight: 600;
}

@media screen and (max-width: 800px)
{

    .img
    {
        background-size: cover ;
    }

   .menu ul li
    {
        margin-left: 3px;
    }
    nav .menu
    {
        max-width: 100%;
        padding: 0 2px;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }

        .menu .logo a
    {
        font-size: 1rem;

    }

    .menu ul 
    {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .menu ul li
    {
        margin-top: 3px;
    }

    .menu ul li a
    {
         padding: 8px  4px;
         font-size: 0.5rem;

    }
        .center .title
    {
        font-size: 1.7rem;
    }

    .center .sub_title
    {
        font-size: 1rem;
    }
    
    .center .buttons button
    {
        width: 50%; 
        font-size: 1rem;
    }







    .last_part .bloc_last_part
    {
        height: 50vh;
        margin-top: 40%;
    }
    .last_part .bloc_last_part h2
    {
        margin-top: -10px;
        text-align: center;
    }
    .last_part .bloc_last_part .contenue
    {
        display: flex;
        flex-direction: column;
    }

    .last_part .bloc_last_part .contenue button
    {
        margin-top: 5%;
        margin-left: 10%;
    }

}